@{
    ViewData["Title"] = "AboutUs";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Catagolue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 style="text-align: center; font-family: 'Rubik', sans-serif; ">About Apsara Pencil</h2>
        <img src="~/img/apsara_pencil.jpg" style="width:1080px;height:680px;" /></br></br>
    </header>
    <main style="text-align: center; font-family: 'Rubik', sans-serif;">
        <h3>Apsara Pencil History</h3>
        <p>
            Established in 1958, we are the largest pencil manufacturer in India. Besides being a
            household name in India, our brands Nataraj & Apsara are exported to over 50 countries.
            Our state-of-the-art manufacturing units with latest machinery set up daily produce.
        </p>

        <h4>Our Mission</h4>
        <p>Delighting consumers with globally recognized stationery.</p>

        <h4>Quality Policy</h4>
        <p>Hindustan Pencils is committed to manufacture and market quality products of international standards. 
        Consistent efforts are made by the company to meet the international safety norms.</p>

        <h4>Corporate Social Responsibility</h4>
        <p>Hindustan Pencils believes in a greater responsibility towards society and in the betterment of the quality of life. 
        We have established institutions to provide education and professional training in India</p>
    </main>
</body>
</html>